.logo{
    height: 2em;
    vertical-align: middle;
    display: inline;
    margin: 1em;
}

.portada{
    padding: 7em 10em;
    background: #f4f4f4;
}

.imagen{
    float: left;
}

.seccionnegra{
    background: black;
    padding: 3em 10em;
    margin: -20px 0px;
}

.seccionblanca{
    background: white;
    padding: 3em 10em;
    margin: -20px 0px;
}

.seccionamarilla{
    background: yellow;
    padding: 1em 10em;

}

.circulo {
    height: 5em;
    width: 5em;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    align-content: center;
    text-align: center;
  }

