.logo{
    height: 2em;
    vertical-align: middle;
    display: inline;
    margin: 1em;
}

.portada{
    padding: 7em 10em;
    background: #f4f4f4;
}

.imagen{
    float: left;
}

.seccionnegra{
    background: black;
    padding: 3em 10em;
}

.seccionblanca{
    background: white;
    padding: 5em 0em;

    
}

.seccionamarilla{
    background: yellow;
    padding: 1em 10em;
    vertical-align: center;

}

.circulo {
    height: 5em;
    width: 5em;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    align-content: center;
    text-align: center;
  }

  .slider {
    height: 23em;
   
  }

  .slider2 {
    height: 13em;
   
  }

  .amarillo
  {
    color: #fdd943;
   
  }
  


